

:root {
    --bahama-blue-50: #c90b0b;
    --bahama-blue-100: #ffffff;
    --bahama-blue-200: #cbb8ac;
    --bahama-blue-300: #efe0e9;
    --bahama-blue-400: #3b1929;
    --bahama-blue-500: #89547d;
    --bahama-blue-600: #ffffff;
    --bahama-blue-700: #FFD0D0;
    --bahama-blue-800: #4d0366;
    --bahama-blue-900: #CA8787;
    --bahama-blue-950: #060a0c;
    --baham-blue-1000: #e2d2b4;
  } 